/* .li {
    list-style: none;
}

.cursor_pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    font-family: Montserrat_Regular_0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat_Bold;
}

p,
span {
    font-family: Montserrat_Regular_0;
}

a,
button {
    font-family: Montserrat_SemiBold_0;
}

@font-face {
    font-family: Montserrat_Bold;
    src: url('../font/Montserrat-Bold_0.ttf') format("opentype")
}

@font-face {
    font-family: Montserrat_SemiBold_0;
    src: url('../font/Montserrat-SemiBold_0.ttf') format("opentype")
}

@font-face {
    font-family: Montserrat_Regular_0;
    src: url('../font/Montserrat-Regular_0.ttf') format("opentype")
}

@font-face {
    font-family: Montserrat_Light_0;
    src: url('../font/Montserrat-Light_0.ttf') format("opentype")
}

@font-face {
    font-family: Montserrat_Medium_0;
    src: url('../font/Montserrat-Medium_0.ttf') format("opentype")
}

@font-face {
    font-family: Montserrat_ExtraLight_0;
    src: url('../font/Montserrat-ExtraLight_0.ttf') format("opentype")
}

@font-face {
    font-family: Montserrat_Thin_0;
    src: url('../font/Montserrat-Thin_0.ttf') format("opentype")
}

@font-face {
    font-family: Amigos-7BL14;
    src: url('../font/Amigos-7BL14.ttf') format("opentype")
}

.form-control:focus {
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}
*/





.li {
    list-style: none;
}

.cursor_pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    font-family: Poppins_Regular_0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins_Bold;
}

p,
span,
div,
input::placeholder {
    font-family: Poppins_Regular_0;
}

a,
button {
    font-family: Poppins_Regular_0;
}


@font-face {
    font-family: Poppins_Bold;
    src: url('../font/Poppins-Bold.ttf') format("opentype")
}

@font-face {
    font-family: Poppins_SemiBold_0;
    src: url('../font/Poppins-SemiBold.ttf') format("opentype")
}

@font-face {
    font-family: Poppins_Regular_0;
    src: url('../font/Poppins-Regular.ttf') format("opentype")
}

@font-face {
    font-family: Poppins_Light_0;
    src: url('../font/Poppins-Light.ttf') format("opentype")
}

@font-face {
    font-family: Poppins_Medium_0;
    src: url('../font/Poppins-Medium.ttf') format("opentype")
}

@font-face {
    font-family: Poppins_ExtraLight_0;
    src: url('../font/Poppins-ExtraLight.ttf') format("opentype")
}

@font-face {
    font-family: Poppins_Thin_0;
    src: url('../font/Poppins-Thin.ttf') format("opentype")
}

@font-face {
    font-family: Amigos-7BL14;
    src: url('../fonts/Amigos-7BL14.ttf') format("opentype")
}

.form-control:focus {
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}
